//custom pagination styles


.Pagination--number {
  width: 30px;
  margin: 5px; 
  padding: 5px;  
  border-radius: 3px;
}


.Pagination--current__all{
  padding: 5px;
}

.Pagination--row_number{
  padding: 3px;
  margin: 0px 20px;
}

.Pagination--selectLimit{
  width: 100px;
  padding: 5px;
  color: grey; 
  background: none;
  outline: none;
  border-radius: 3px;
}


.Pagination--nav{
  margin-left: 9px;
  margin: 0px 20px;
}
.Pagination--next{
  text-decoration: none;
  width: 10px;
  height: 10px;
  margin: 14px;
  background: url(/images/arrowPagiRight.png);
}

.Pagination--prev{
  text-decoration: none;
  margin: 14px;
  width: 10px;
  height: 10px;
  background: url(/images/arrowPagiLeft.png);
}